[submodule "Hyperlink"]
	path = Hyperlink
	url = https://github.com/melindagallo/Hyperlink.git
[submodule "ColorPicker"]
	path = ColorPicker
	url = https://github.com/jbpiot/ColorPicker.git
[submodule "Gauge"]
	path = Gauge
	url = https://rodo79@github.com/rodo79/Gauge.git
[submodule "waf.calender.widget"]
	path = waf.calender.widget
	url = https://github.com/vegarringdal/waf.calender.widget
[submodule "VegarCalender"]
	path = VegarCalender
	url = https://github.com/vegarringdal/VegarCalender
[submodule "QR"]
	path = QR
	url = https://github.com/rmello4d/QR.git
[submodule "FaceDetection"]
	path = FaceDetection
	url = https://github.com/rmello4d/FaceDetection.git
[submodule "SimpleSpreadSheet"] 
	path = SimpleSpreadSheet
	url = https://github.com/rmello4d/SimpleSpreadSheet.git
[submodule "dropboxsaver"]
	path = dropboxsaver
	url = https://github.com/hredwan/dropboxsaver.git

[submodule "wakandaFacebookLikeBox"]
	path = wakandaFacebookLikeBox
	url = https://github.com/hredwan/wakandaFacebookLikeBox.git
[submodule "AudioRecorder"]
	path = AudioRecorder
	url = https://github.com/rmello4d/AudioRecorder.git
[submodule "waDropzone"]
	path = waDropzone
	url = https://github.com/hredwan/waDropzone.git
[submodule "BarCode"]
	path = BarCode
	url = https://github.com/rmello4d/BarCode.git
[submodule "wListView"]
	path = wListView
	url = https://github.com/wakaDemo/wListView.git
	branch = WAK8
[submodule "wEmailList"]
	path = wEmailList
	url = https://github.com/wakaDemo/wEmailList.git
	branch = WAK8
[submodule "JqxCombobox"]
	path = JqxCombobox
	url = https://github.com/rmello4d/JqxCombobox.git
[submodule "wakandaratings"]
	path = wakandaratings
	url = https://github.com/hredwan/wakandaratings.git
[submodule "TableView"]
	path = TableView
	url = https://github.com/noName-4d/TableView.git
	branch = WAK8
[submodule "ModalDialog"]
	path = ModalDialog
	url = https://github.com/Ganbin/ModalDialog.git
[submodule "TextField"]
	path = TextField
	url = https://github.com/elaissoussi/CustomTextField.git
[submodule "CustomPasswordField"]
	path = CustomPasswordField
	url = https://github.com/elaissoussi/CustomPasswordField.git

[submodule "WaSlider"]
	path = WaSlider
	url = https://github.com/abdouziad1/WaSlider.git
[submodule "CustomMultilineTextField"]
	path = CustomMultilineTextField
	url = https://github.com/elaissoussi/CustomMultilineTextField.git
[submodule "Switchery"]
	path = Switchery
	url = https://github.com/midrissi/Switchery.git
[submodule "Tags"]
	path = Tags
	url = https://github.com/midrissi/Tags.git
[submodule "FlipClock"]
	path = FlipClock
	url = https://github.com/midrissi/FlipClock.git
[submodule "MorrisLineChart"]
	path = MorrisLineChart
	url = https://github.com/midrissi/MorrisLineChart.git
[submodule "MorrisBarChart"]
	path = MorrisBarChart
	url = https://github.com/midrissi/MorrisBarChart.git
[submodule "Select2"]
	path = Select2
	url = https://github.com/el-med/Select2.git
	branch = wak8
[submodule "Leaflet"]
	path = Leaflet
	url = https://github.com/el-med/Leaflet.git
[submodule "ChartJS"]
	path = ChartJS
	url = https://github.com/welkaddouri/ChartJS.git
[submodule "WaClock"]
	path = WaClock
	url = https://github.com/saadmos/WaClock.git
[submodule "WaGage"]
	path = WaGage
	url = https://github.com/saadmos/WaGage
[submodule "SignaturePad"]
	path = SignaturePad
	url = https://github.com/saadmos/SignaturePad
[submodule "WaShareButton"]
	path = WaShareButton
	url = https://github.com/saadmos/WaShareButton.git
[submodule "CustomTextField"]
	path = CustomTextField
	url = https://github.com/elaissoussi/CustomTextField
[submodule "wCombobox"]
	path = wCombobox
	url = https://github.com/el-med/wCombobox.git
	branch = wak8
