[submodule "Hyperlink"]
	path = Hyperlink
	url = https://github.com/melindagallo/Hyperlink.git
[submodule "ColorPicker"]
	path = ColorPicker
	url = https://github.com/jbpiot/ColorPicker.git
[submodule "Gauge"]
	path = Gauge
	url = https://rodo79@github.com/rodo79/Gauge.git
[submodule "waf.calender.widget"]
	path = waf.calender.widget
	url = https://github.com/vegarringdal/waf.calender.widget
[submodule "VegarCalender"]
	path = VegarCalender
	url = https://github.com/vegarringdal/VegarCalender
