[submodule "Hyperlink"]
	path = Hyperlink
	url = https://github.com/melindagallo/Hyperlink.git
[submodule "ColorPicker"]
	path = ColorPicker
	url = https://github.com/jbpiot/ColorPicker.git
[submodule "Gauge"]
	path = Gauge
	url = https://rodo79@github.com/rodo79/Gauge.git
[submodule "waf.calender.widget"]
	path = waf.calender.widget
	url = https://github.com/vegarringdal/waf.calender.widget
[submodule "VegarCalender"]
	path = VegarCalender
	url = https://github.com/vegarringdal/VegarCalender
[submodule "QR"]
	path = QR
	url = https://github.com/rmello4d/QR.git
[submodule "FaceDetection"]
	path = FaceDetection
	url = https://github.com/rmello4d/FaceDetection.git
[submodule "SimpleSpreadSheet"] 
	path = SimpleSpreadSheet
	url = https://github.com/rmello4d/SimpleSpreadSheet.git
[submodule "dropboxsaver"]
	path = dropboxsaver
	url = https://github.com/hredwan/dropboxsaver.git

[submodule "wakandaFacebookLikeBox"]
	path = wakandaFacebookLikeBox
	url = https://github.com/hredwan/wakandaFacebookLikeBox.git
[submodule "AudioRecorder"]
	path = AudioRecorder
	url = https://github.com/rmello4d/AudioRecorder.git
[submodule "waDropzone"]
	path = waDropzone
	url = https://github.com/hredwan/waDropzone.git
[submodule "BarCode"]
	path = BarCode
	url = https://github.com/rmello4d/BarCode.git
[submodule "wListView"]
	path = wListView
	url = https://github.com/wakaDemo/wListView.git
	branch = WAK8
[submodule "wEmailList"]
	path = wEmailList
	url = https://github.com/wakaDemo/wEmailList.git
	branch = WAK8
[submodule "JqxCombobox"]
	path = JqxCombobox
	url = https://github.com/rmello4d/JqxCombobox.git
[submodule "wakandaratings"]
	path = wakandaratings
	url = https://github.com/hredwan/wakandaratings.git
[submodule "TableView"]
	path = TableView
	url = https://github.com/noName-4d/TableView.git
